<section class="share">
    <h3>{{ site.translations.text.share | default: "Share Post" }} </h3>

    <a href="https://twitter.com/intent/tweet?{% if site.twitter.username %}via={{ site.twitter.username | url_encode }}&{% endif %}text={{ page.title | url_encode }}%20{{ page.url | absolute_url | url_encode }}"
        class="btn btn--twitter"
        onclick="window.open(this.href, 'window', 'left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;"
        title="{{ site.data.ui-text[site.locale].share_on_label | default: 'Share on' }} Twitter">
            <svg><use xlink:href="#icon-twitter"></use></svg>
    </a>
    <a href="https://www.linkedin.com/shareArticle?mini=true&url={{ page.url | absolute_url | url_encode }}"
        class="btn btn--linkedin"
        onclick="window.open(this.href, 'window', 'left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;"
        title="{{ site.data.ui-text[site.locale].share_on_label | default: 'Share on' }} LinkedIn">
        <svg><use xlink:href="#icon-linkedin"></use></svg>
    </a>
    <a href="https://www.facebook.com/sharer/sharer.php?u={{ page.url | absolute_url | url_encode }}"
        class="btn btn--facebook"
        onclick="window.open(this.href, 'window', 'left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;"
        title="{{ site.data.ui-text[site.locale].share_on_label | default: 'Share on' }} Facebook">
            <svg><use xlink:href="#icon-facebook"></use></svg>
    </a>
</section>